/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea/
.env
.env.testing
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache

.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/*.iml
.idea/modules.xml
.idea/libraries
